.container{
    margin-bottom: 40px;
}
.carousel-bg{
    background-color: #fceae8;
    border-radius: 10px;

}

.carousel-item{
    padding: 20px 30px;

}
.price-color{
    color: rgb(6, 35, 204);
}
.button-color{
    color: darkblue;
    background-color: rgb(236, 8, 8);
}

.cat1, .cat2, .cat3{
    padding: 10px 20px;
    border-radius: 10%;
}
.cetagories imag{
    width: 100px;
}

.design-card{
  
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    
}

.subscribe{
    background-color: rgb(168, 140, 61);
    height: 300px;
    border-radius: 10px;
}

